body {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;

}

.playeronelogo {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.playertwologo {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.wrapper  {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    height: 400px;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

} 

.cellone {
    border-bottom: solid gray 5px;
    border-right: solid gray 5px;
    font-size: 70px;
}

.celltwo {
    border-bottom: solid gray 5px;
    border-right: solid gray 5px;
    font-size: 70px;
}

.cellthree {
    border-bottom: solid gray 5px;
    font-size: 70px;
}

.cellfour {
    border-bottom: solid gray 5px;
    border-right: solid gray 5px;
    font-size: 70px;
}

.cellfive {
    border-bottom: solid gray 5px;
    border-right: solid gray 5px;
    font-size: 70px;
}

.cellsix {
    border-bottom: solid gray 5px;
    font-size: 70px;
}

.cellseven {
    border-right: solid gray 5px;
    font-size: 70px;
}

.celleight {
    border-right: solid gray 5px;
    font-size: 70px;
}

.cellnine {
    font-size: 70px;
}

.scoreboard {
   width: 100%;
}

.playerone {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.playertwo {
    display: inline;
    margin: 10px;
    padding: 10px;
}